@font-face {
    font-family: "IRANSans";
    src: url("../fonts/IRANSans.ttf") format("truetype");
}


body {
    direction: rtl !important;
    text-align: right !important;
    font-family: "IRANSans" !important;
    font-size: 14px !important;
    position: absolute;
    width: 100%;
    min-height: 700px;
    background: #f6f8fa;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

option {
    font-family: "IRANSans" !important;
    -webkit-font-feature-settings: "IRANSans" !important;
}


.container-fluid {
    padding: 0 !important;
}

.page_sidebar {
    height: 100%;
    width: 240px;
    background: #263238;
    position: absolute;
    bottom: 0;
}

.page_sidebar .fa-bars {
    color: #fff;
    font-size: 18px;
    float: left;
    cursor: pointer;
    margin: 10px;
}

#sidebar_menu {
    padding: 0;
    margin-top: 60px;
}

#sidebar_menu li a {
    color: #fff;
    padding: 10px;
    display: block;
    font-size: 14px;
}

#sidebar_menu .fa-angle-left, #sidebar_menu .fa-angle-down {
    float: left;
    font-size: 12px !important;
    margin-top: 5px;
}


#sidebar_menu .fa-angle-left.active {
    transform: rotate(270deg) !important;
}

#sidebar_menu .active {
    background: #00bfd6;
}

.child_menu {
    padding-top: 10px !important;
    background: #2c3B40;
    display: none;
}

.child_menu a {
    width: 100%;
    font-size: 12px !important;
    padding-top: 5px !important;
}

.toggled {
    width: 50px !important;
}

.toggled .sidebar_menu_text {
    display: none;
}

.toggled .fa-angle-left {
    display: none;
}

.toggled #sidebar_menu li a {
    text-align: center;
}

.toggled .child_menu {
    margin-right: 50px;
    width: 230px;
    position: absolute;
    margin-top: -44px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 231;
    border-right: 1px dashed #fff;
}

.toggled .child_menu a {
    text-align: right !important;
}


.page_content {
    margin-right: 240px;
}

.content_box {
    width: 97%;
    margin: 40px auto;
}

.panel {
    background: #fff;
    width: 100%;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}


.panel .header {
    padding-right: 15px;
    height: 45px;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    align-items: center;
}

.panel_content {
    padding: 30px;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-label.form-label-admin {
    width: 170px;
    font-size: 12px;
    display: inline-block !important;
}


.form-control.form-control-admin {
    width: 300px !important;
    font-size: 14px;
}


.has_errors {
    color: red;
    font-size: 12px;
    margin-right: 5px;
}

.form-select {
    width: 300px !important;
    background-position: left .75rem center !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f6f8fa !important;
}

.table tr th {
    font-size: 14px !important;
    text-align: center !important;
}

.table tr td {
    font-size: 12px !important;
    text-align: center;
}


.pagination {
    padding: 0;
}


.message_div {
    background: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 231;
    display: none;
}


.message_box {
    background: #fff;
    width: 360px;
    height: 150px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    border: 1px solid #cccc;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    padding: 20px;


}

.message_div .message_box #msg {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}


.message_div .message_box .alert {
    padding: 5px 30px 5px;
    cursor: pointer;
}


table .fa-remove {
    color: red;
    cursor: pointer;
    font-size: 15px;
}


.header {
    display: flex;
    justify-content: space-between;
}


.header .dropdown .btn, .header .dropdown .dropdown-item span {
    font-size: 12px;
    cursor: pointer;
}


.header .dropdown  .dropdown-menu{
    text-align: right !important;
    font-size: 14px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.dropdown-item {
    cursor: pointer;
    padding: 10px;
}

.dropdown-item.off {
    color: #999 !important;
}


.dropdown-toggle:focus{
    box-shadow: none;
}

.header .dropdown-menu .dropdown-item:focus{
 background: red !important;
}
